{% extends "base.html" %}

{% block title %}archives{% endblock title %}
{% block content_permalink %}{{ SITEURL }}/archives.html{% endblock content_permalink %}
{% block content_bookmark_title %}archives{% endblock content_bookmark_title %}
{% block content_title %}archives{% endblock content_title %}

{% block content %}
{% include 'archives_filter.html' %}
<div class="col-lg-12 col-md-12 col-sm-12">
    <dl class="archive-link">
    {% for article in dates %}
        <dt>{{ article.locale_date }}</dt>
        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|trim }}</a></dd>
    {% endfor %}
    </dl>
</div>
{% endblock %}
