<div id="article">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="section-bot">
            {% if article.date %}
            <span class="badge badge-light">{{ article.date|strftime('%b %d, %Y') }}</span>
            {% endif %}
            <span class="badge badge-light reading-time"></span>
            <span class="badge badge-light"><span class="word-count"></span> words</span>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
        {{ article.content }}
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
    {% if article.category or article.tags %}
    <div class="section-top section-bot-sm">
        {% if article.category %}
            <a class="badge badge-secondary"
               href="{{ SITEURL }}/{{ article.category.url }}">
                {{ article.category.name|trim }}</a>
        {% endif %}
        {% for tag in article.tags %}
            <a class="badge badge-secondary"
               href="{{ SITEURL }}/{{ tag.url }}">
                {{ tag.name|trim }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
