<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
{% block head %}
    {% include 'head_scripts.html' %}
    {% include 'head_meta.html' %}
    {% include 'head_icons.html' %}
    {% include 'head_styles.html' %}
    <title>{{ SITENAME }}{% if SITESUBTITLE %} - {{ SITESUBTITLE }}{% endif %}{% block title %}{% endblock title %}</title>
{% endblock head %}
</head>

<body>
{% block body %}
<div id="layout">
    {% include 'side-menu.html' %}
    <div id="main">
        <!-- SITE_HEADER:START -->
        <header class="header">
            <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
            <h2>{{ SITESUBTITLE }}</h2>
        </header>
        <!-- SITE_HEADER:END -->

        <div class="content">
            {% block content %}{% endblock content %}
        </div>

        <!-- SITE_FOOTER:START -->
        <footer class="footer">
            <div class="pure-menu pure-menu-horizontal">
                <p class="pure-menu-heading">{{ COPYRIGHT_TEXT }}</p>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                    <a class="pure-menu-link" href="https://twitter.com/{{ TWITTER_USERNAME }}">Twitter</a>
                    </li>
                    <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{{ SITEURL }}/archives.html">Archive</a>
                    </li>
                    <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Feeds</a>
                    </li>
                </ul>
            </div>
        </footer>
        <!-- SITE_FOOTER:END -->
    </div> <!-- END:main -->
</div> <!-- END:layout -->

{% include 'body_scripts.html' %}
{% endblock body %}
</body>
</html>
