<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
{% block head %}
    {% include 'head_scripts.html' %}
    {% include 'head_meta.html' %}
    {% include 'head_icons.html' %}
    {% include 'head_styles.html' %}
    <title>&raquo; {% block title %}{% endblock title %} {{ SITENAME|trim }}</title>
{% endblock head %}
</head>

<body>
{% block body %}
<div class="container">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="text-left">
                <h1 class="main-header">
                    <a href="{{ SITEURL }}/">{{ SITENAME|trim }}</a>:
                    <strong>
                        <a href="{% block content_permalink %}{% endblock content_permalink %}" rel="bookmark"
                           title="Permanent link to {% block content_bookmark_title %}{% endblock content_bookmark_title %}">
                        {% block content_title %}{% endblock content_title %}</a>
                    </strong>
                </h1>
            </div>
        </div>
    </div>

    <div class="row section">
        {% block content %}{% endblock content %}
    </div>

    <div class="row section">
        {% include 'footer.html' %}
    </div>

</div>
{% include 'body_scripts.html' %}
{% block content_scripts %}{% endblock content_scripts %}
{% endblock body %}
</body>
</html>
