{% extends "base.html" %}

{% block title %}: categories{% endblock title %}
{% block content_permalink %}{{ SITEURL }}/categories.html{% endblock content_permalink %}
{% block content_bookmark_title %}categories{% endblock content_bookmark_title %}
{% block content_title %}categories{% endblock content_title %}

{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12">
    <ul>
    {% for category, articles in categories|sort %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
