{% extends 'base.html' %}

{% set article = articles[0] if articles else None %}

{% block title %}{{ article.title|trim if article else "no content" }}{% endblock title %}
{% block content_permalink %}{{ SITEURL }}/{{ article.url if article else "#no-content" }}{% endblock content_permalink %}
{% block content_bookmark_title %}{{ article.title|trim if article else "no content" }}{% endblock content_bookmark_title %}
{% block content_title %}{{ article.title|trim if article else "no content" }}{% endblock content_title %}

{% block content %}
{% if article %}
    {% include 'article_content.html' %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="section-top-sm section-bot-sm archive-link">
            <a href="{{ SITEURL }}/archives.html">
                <strong>See all posts &raquo;</strong>
            </a>
        </div>
    </div>
{% else %}
<div class="col-lg-12 col-md-12 col-sm-12">
    <p class="text-center">A quiet empty space.</p>
</div>
{% endif %}
{% endblock content %}

{% block content_scripts %}
    <script src="{{ SITEURL }}/theme/js/scripts.article.js"></script>
{% endblock content_scripts %}
