{% extends "base.html" %}

{% block title %}articles about {{ tag|trim }}{% endblock title %}
{% block content_permalink %}{{ SITEURL }}/{{ page_name }}.html{% endblock content_permalink %}
{% block content_bookmark_title %}articles about {{ tag|trim }}{% endblock content_bookmark_title %}
{% block content_title %}articles about {{ tag|trim }}{% endblock content_title %}

{% block content %}
{% include 'archives_filter.html' %}
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="list-group archive-link">
    {% for article in dates %}
        <a class="list-group-item list-group-item-action flex-column align-items-start"
           href="{{ SITEURL }}/{{ article.url }}">
            <small class="text-muted">{{ article.locale_date }}</small>
            <p class="mb-1">{{ article.title|trim }}</p>
        </a>
    {% endfor %}
    </div>
</div>
{% endblock %}
